/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .col-m-4 {
        width: calc((100% / 12) * 4);
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-8 {
        width: calc((100% / 12) * 8);
    }
    .page-hero {
        padding-bottom: 100px;
    }
    .page-hero .row {
        flex-wrap: wrap; 
    }
    .card-hero__image {
        margin-left: 0;
    }
    .section-planning {
        padding-top: 125px;
    }
    .planning-image {
        margin-bottom: 130px;
    }
    .section-planning h3 {
        margin-bottom: 60px;
        font-size: 60px;
        font-weight: 800;
    }
    .card-planning {
        padding: 30px 50px 30px 50px;
    }
    .card-testimonials {
        flex-direction: row;
    }

    .card-testimonials .card-body {
        align-items: flex-start;
    }
    .card-testimonials .card-body p {
        text-align: left;
    }
    .section-benifits__title .col h2 {
        font-size: 46px;
    }
    .card-benifits .card-header h2 {
        font-size: 50px;
        line-height: 50px;
     }

    .benifits-list { 
       row-gap: 24px;
    }
    

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .nav-menu {
        display: none;
    }
    .nav-menu.m {
        display: flex;
    }
    .page-hero .card {
        flex-direction: row; 
    }
    .card-hero__image{
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
    }
    .col-m-8 .card-hero > *{
        flex-basis: 50%;
    }
    .col-lg-6 {
        flex-basis: 50%;
    }
    .planning-image {
        margin-bottom: 145px;
    }
    .section-planning h3 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .card-planning__image {
        width: 80%;
    }
    .section-planning .col:last-child {
        align-self: flex-end;
    }


    .card-testimonials {
        gap: 60px;
    }
}
