/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

/* GENERAL SETTING*/

html {
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

header > *,
main > *,
footer > * {
    padding: 0px 20px;
}

img {
    max-width: 100%;
    display: block;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1174px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1074px;
    margin: 0 auto;
}

.container-small {
    max-width: 904px;
    margin: 0 auto;
}

.row {
    display: flex;
     flex-wrap: wrap;
     row-gap: 24px;
}

.row > [class^='col'] {
    padding: 0px 12px;
}

/* .col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
} 

*/
.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.text-align-centr {
    text-align: center;
}

:root {
    --blue:#0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
    --yellow: #fdc15f;
    --dark-grey: #333333;
    --light-white: #ffffff;
}

.bg-white {
    background-color: var(--light-white);
}

.bg-blue {
    background-color: var(--blue);
}


.button {
    display: inline-block;
    padding: 0px 45px;
    color: var(--dark-grey);
    white-space: nowrap;
    border: 2px solid ;
    border-radius: 999px;
    line-height: 38px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

[class^='col'] .card {
    height: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration-line: underline;
}
/* HEADER SETTING */

.page-header {
    background-color: var(--blue);
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--light-white);
    line-height: 32px;
}

.nav-menu a {
    display: flex;
    align-items: center;
}

.nav-menu.m {
    display: none;
}

.nav-menu__icon {
    font-size: 32px;
}

.nav-menu .button {
    border-color: var(--light-white);
    padding: 0px 16px;
}
/* MAIN SETTING */

/* page-hero */

.page-hero {
    padding-top: 50px;
    padding-bottom: 75px;
}
.card-hero {
    background-color: var(--light-blue);
}

.card-hero__body > i {
    color: var(--blue);
    font-size: 80px;
}

.card-hero h2 {
    color: var(--blue);
}
 
.card-hero__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px 40px 30px;
}

.page-hero .button {
    border-color: var(--blue);
    color: var(--light-white);
    align-self: self-start;
    letter-spacing: 3px;
    font-weight: 600;
}

.button > i {
    color: currentColor;
}

.card-hero__image {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
}
/* section-planning */

.section-planning {
    background-color: var(--purple);
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--light-white);
}

.card-planning {
    background-color: var(--light-white);
    color: var(--dark-grey);
    padding: 30px 20px 30px 20px;
}

.card-planning p {
    font-style: italic;
}

.card-planning .card-body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.planning-image {
    margin-bottom: 90px;
}

.section-planning h3 {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 800;
}

.section-planning h4 {
    font-size: 24px;
    font-weight: 800;
}

.section-planning .col p:first-child {
    margin-bottom: 30px;
}

.button-circle {
    background-color: var(--purple);
    border-color: var(--purple);
    padding: 0px 13px;
}

/* testimonials */
.section-testimonials {
    padding: 60px 0 110px 0px;
    text-align: center;
}
.section-testimonials h2 {
    font-size: 30px;
    color: var(--purple);
    margin-bottom: 50px;
}

.section-testimonials__text h3 {
    order: -1;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.section-testimonials__text p {
    margin-bottom: 50px;
}

.section-testimonials__text {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}

.card-testimonials {
    background-color: var(--purple);
    padding: 30px 20px 30px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--light-white);
}

.card-testimonials i {
   font-size: 24px;
}

.card-testimonials .card-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-testimonials .card-body h3 {
   order: 1;
   text-transform: uppercase;
}

.testimonials-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.testimonials-card__image .image {
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    max-width: 200px;
}

/* section-benifits */

.section-benifits {
    background-color: var(--purple);
    padding-top: 70px;
    padding-bottom: 60px;
}

.section-benifits__title {
    justify-content: center;
}

.section-benifits__title .col h2 {
    color: var(--light-white);
    font-size: 30px;
    padding-bottom: 70px;
}

.card-benifits {    
    background-color: var(--light-white);
    padding: 50PX 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.card-benifits .card-header, 
.card-benifits h3 {
    color: var(--purple);
}

.card-benifits .card-header h2 {
   font-size: 36px;
   line-height: 36px;
}

.benifits-list {
    row-gap: 32px;
}

.button-benifits {
    color: var(--light-white);
    background-color: var(--purple);
    border-color: var(--purple);
    letter-spacing: 3px;
    font-weight: 600;
   
}

/* section-about-us */

.section-about-us {
    padding-top: 100px;
    padding-bottom: 80px;
}

.section-about-us .col-m-8 h2 {
    font-size: 36px;
    color: var(--purple);
    margin-bottom: 50px;
}

.section-about-us .col-m-8 p + p {
    margin-top: 60px;
}

.section-about-us .col-m-4 p {
    font-size: 22px;
    color: var(--purple);
    font-weight: 600;
}

.section-about-us .col-m-4 p {
    font-size: 22px;
    color: var(--purple);
    font-weight: 600;
}

.section-about-us .col-m-4 i.fa-quote-left {
    font-size: 50px;
    color: var(--purple);
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
}


.about-us__image .image {
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    max-width: 180px;
}

.about-us__image {
   position: relative;
}

.section-about-us .row {
    row-gap: 55px;
}

.section-about-us .col-m-4 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
}

.button-about-us {
    background-color: var(--purple);
    border-color: var(--purple);
    color: var(--light-white);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 14px;
}

/* Get-Started */

.section-get-started {
    background-color: var(--purple);
    color: var(--light-white);
    padding-top: 60px;
    padding-bottom: 60px;
}

.get-started__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.get-started__content__header {
    text-transform: uppercase;
    font-weight: 200;
}

.get-started__content__main-text {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    text-align: center;
}

.get-started__content__main-text h2 {
    font-size: 22px;
    font-weight: 800;
}

.main-text__focus {
    font-size: 40px;
    font-weight: 800;
    color: var(--yellow);
}

.button-get-started {
    color: var(--purple);
    background-color: var(--light-white);
    border-color: var(--light-white);
}

.get-started__content__footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.get-started__content__footer ul li {
    display: flex;
    align-items: center;
}

.get-started__content__footer i {
    font-size: 6px;
}



/* FOOTER SETTING */

/* DEBUG */

/* --general debug-- */

.debug .container-fluid {
    border: 3px solid rgb(255, 4, 234);
    margin: 0 auto;
}

.debug .row {
    border: 2px solid rgb(255, 174, 1);
}

.debug [class^="col"] {
    border: 2px solid rgb(8, 8, 8);
}

.debug [class^="card"] {
    border: 1px solid rgb(0, 241, 0);
}

.debug [class^="card"]>* {
    border: 1px dashed rgb(41, 50, 177);
}